.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.container > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
